SoapProducer/src/main/java/com/accenture/soapproducer/model/newXMLDocument.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="acc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RFCCalculator" targetNamespace="acc">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="acc" elementFormDefault="unqualified" targetNamespace="acc" version="1.0">
            <xs:element name="get_rfc" type="tns:get_rfc"/>
            <xs:element name="get_rfcResponse" type="tns:get_rfcResponse"/>
            <xs:element name="person" type="tns:person"/>
            <xs:complexType name="get_rfc">
                <xs:sequence>
                    <xs:element minOccurs="0" name="person_param" type="tns:person"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element name="first_name" type="xs:string"/>
                    <xs:element name="last_name" type="xs:string"/>
                    <xs:element name="second_last_name" type="xs:string"/>
                    <xs:element name="birth_day" type="xs:int"/>
                    <xs:element name="birth_month" type="xs:int"/>
                    <xs:element name="birth_year" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get_rfcResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rfc" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="get_rfc">
        <wsdl:part element="tns:get_rfc" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="get_rfcResponse">
        <wsdl:part element="tns:get_rfcResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="RFCCalculatorImpl">
        <wsdl:operation name="get_rfc">
            <wsdl:input message="tns:get_rfc" name="get_rfc"></wsdl:input>
            <wsdl:output message="tns:get_rfcResponse" name="get_rfcResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RFCCalculatorSoapBinding" type="tns:RFCCalculatorImpl">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="get_rfc">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="get_rfc">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="get_rfcResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RFCCalculator">
        <wsdl:port binding="tns:RFCCalculatorSoapBinding" name="RFCCalculator">
            <soap:address location="http://localhost:8080/SoapProducer/ws/RFCCalculator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>